@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input name="SearchText" id="SearchText" placeholder="Search in preshop" autocomplete="off" type="text">
    <button type="submit"><i class="ion-ios-search-strong"></i></button>
}
