@model PreShop.BL.TblSlider
<div class="single_slider">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="slider_content">
                    @*<h1>Dual Front Camera <br><strong>Canvas Gear</strong></h1>
                        <h3>get up to</h3>
                        <h2>30% off</h2>
                        <p>Upgrade every 12 months</p>
                        <a href="#">shop now</a>*@
                    <img src="~/assets/img/banner/Aadi.png" style="height:100%;width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single_slider">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="slider_content">
                    @*<h1>Dual Front Camera <br><strong>Canvas Gear</strong></h1>
                        <h3>get up to</h3>
                        <h2>30% off</h2>
                        <p>Upgrade every 12 months</p>
                        <a href="#">shop now</a>*@
                    <img src="~/assets/img/banner/Dkapray.png" style="height:100%;width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>
