@model PreShop.FrontEnd.Helpers.Products.ProductsHelper

@{
    var products = Model.GetProductsHomePage();
    for (int i = 0; i < products.Count(); i += 3)
    {
        <div class="custom_product_list">
            @{
                int j = 0;
                for (; j <= 2 && i + j < products.Count(); j++)
                {
                    @Html.Partial("_SingleProductBottom", products[i + j])
                }
            }
        </div>
    }
}
